html, body {
    height:  100%;
    margin:  0px;
    padding: 0px;
}

#bin {
    position: absolute;
    width:    100px;
    height:   100px;
    top:      200px;
}

/*#map, #mapTab {
    height: 100%;
    width:100%;
    position: relative;
}*/
#mainContainer {
    height: 95%;
}

.tab-content {
    height: 100%;
}

#map, #mapTab {
    height: 100%;
}


