<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="usr">Zeitpunkt</label>
                <input type="text"
                       class="form-control"
                       id="usr">
            </div>

            <div class="form-group">
                <label for="email">E-Mail</label>
                <input type="email"
                       class="form-control"
                       id="email">
            </div>

            <div class="form-group">
                <label for="priority">Gefährlichkeit</label>
                <select class="form-control"
                        id="priority">
                    <option>Giftig</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>

            <label for="comment">Beschreibung</label>
            <textarea class="form-control form-group"
                      rows="5"
                      id="comment"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 form-group">
            <button type="button"
                    class="form-control btn btn-default"
                    id="cancelModalBtn">Abbrechen
            </button>
        </div>
        <div class="col-md-6 form-group">
            <button type="button"
                    class="form-control btn btn-default">Speichern
            </button>
        </div>
    </div>
</div>