<div style="user-select: none;">
    <h2></h2>

    {{ reportData.date }} <br>

    {{ reportData.text }}<br><br>

    <p>
        <i class="fa fa-facebook-official fa-2x"></i>
        <i class="fa fa-whatsapp fa-2x"></i>
        <i class="fa fa-google-plus-official fa-2x"></i>
        <i class="fa fa-trash-o fa-2x pull-right"></i>
    </p>
</div>