<div style="user-select: none;">
    <h2></h2>

    16.08.2017<br>

    Hier ist ein Giftköder im Baum versteckt!!!<br>

    Gefährlichkeit: tödlich<br>

    Bestätigt von: 300 Benutzern<br><br>
    <i class="fa fa-trash-o fa-2x"></i>
    <p>
        <i class="fa fa-facebook-official fa-2x"></i>
        <i class="fa fa-whatsapp fa-2x"></i>
        <i class="fa fa-google-plus-official fa-2x"></i>
    </p>
</div>